<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ADD MOVIE</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
</head>
<body class="bg-light">
	<nav class="navbar navbar-light bg-dark">
		<a class="navbar-brand  mx-5 text-white">Movie Collection</a>
		<form class="form-inline" th:action="@{/}">
			<input class="form-control mr-sm-2" type="search" name="keyword"
				id="keyword" th:value="${keyword}" required placeholder="Search"
				aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			<button class="btn btn-outline-success my-2 my-sm-0" type="button"
				id="btnClear" onclick="clearSearch()" value="Clear">Clear</button>
		</form>
	</nav>
	<div class="album py-5 bg-light">
		<div class="container">
			<h1>Movie Collection</h1>
			<hr>





			<h2>
				<a th:href="@{/}"> <i class="fas fa-arrow-alt-circle-left "></i></a>
				Add Movie
			</h2>
			<br>

			<form action="#" th:action="@{/saveMovie}" th:object="${movie}"
				method="POST">

				<input type="text" th:field="*{movie_name}"
					placeholder="Enter Movie Name" class="form-control mb-4 col-4">
				<input type="text" th:field="*{movie_year}"
					placeholder="Enter Movie Release Year"
					class="form-control mb-4 col-4"> <input type="text"
					th:field="*{movie_category}" placeholder="Enter Movie Category"
					class="form-control mb-4 col-4"> <input type="text"
					th:field="*{movie_description}"
					placeholder="Enter Movie Description"
					class="form-control mb-4 col-4"> <input type="text"
					th:field="*{movie_media}" placeholder="Enter Movie Media"
					class="form-control mb-4 col-4"> <input type="text"
					th:field="*{movie_lang}" placeholder="Enter Movie Language"
					class="form-control mb-4 col-4"> <input type="text"
					th:field="*{movie_director}" placeholder="Enter Movie Director"
					class="form-control mb-4 col-4"> <input type="text"
					th:field="*{movie_lead}" placeholder="Enter Movie Lead Actor"
					class="form-control mb-4 col-4">

				<button type="submit" class="btn btn-outline-info btn-lg">
					Add Movie</button>
			</form>

			<hr>



		</div>
	</div>


</body>
</html>